html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-report,
  #printable-report * {
    visibility: visible;
  }

  #printable-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;         /* Add padding to avoid clipping */
    box-sizing: border-box;
  }
}
